<main
  class="lg:pt-28 pt-3 top-20 lg:top-0 border lg:border-l-0 lg:border-b-0 bg-dark-secondary fixed z-40 lg:z-20 lg:rounded-none lg:left-0 rounded-lg left-36 lg:h-full lg:fixed w-[303px] mr-0 text-slate-400"
  [ngClass]="{
    'bg-dark-secondary transition-colors duration-300  border-r-[#3e3f4e] text-dark-text':
      themeToggleService.darkTheme,
    'bg-light-primary transition-colors duration-300 border-r-light-borderline text-light-text':
      themeToggleService.lightTheme
  }"
>
  <p
    class="text-slate-400 pl-7 font-bold uppercase text-[0.75rem] tracking-[0.1rem]"
  >
    All boards({{boards.length}})
  </p>

  <ul class="mt-5">
    @for(board of boards; track boards; let index = $index){
    <li (click)="currentBoard.currentBoard(board.name)">
      @switch (index) {
         @case (0) {
      <app-board [boardName]="board.name" [firstBoardColor]="getFirstBoardColor()" />
      }
       @default {
      <app-board [boardName]="board.name" />
      } }
    </li>
    }

    <li>
      <app-create-new-board />
    </li>
  </ul>

  <app-theme-toggle />
</main>
