<main
  class="w-[115vw] pb-2"
  [ngClass]="{
    'bg-dark-background transition-colors duration-300  text-dark-text':
      themeToggleService.darkTheme,
    'bg-light-background transition-colors duration-300 text-light-text':
      themeToggleService.lightTheme
  }"
>
  @if(modalToggleService.isAddTaskModalShown){
  <app-add-task />
  } @if(modalToggleService.isAddColumnModalShown){
  <app-add-column [formTitle]="modalToggleService.formTitle" />
  } @if(modalToggleService.isAddBoardShown){
  <app-add-board />
  } @if(dropdowntoggleservice.isEditBoardDropdownShown){
  <app-edit-board-dropdown />
  } @if(modalToggleService.isTaskDetailsShown){
  <app-task-details
    [taskName]="modalToggleService.taskName"
    [taskDesc]="modalToggleService.taskDesc"
    [subTasks]="modalToggleService.subTasks"
    [subtaskName]="modalToggleService.subTaskName"
  />
  }

  <app-dashboard-frame />
  <app-sidebar [ngClass]="{ invisible: showSidebarService.isSidebarShown }" />

  <div
    class="main cursor-move overflow-x-auto w-[115vw] scrollbar-none flex"
    [ngClass]="{ 'lg:gap-72': !showSidebarService.isSidebarShown }"
  >
    <div class="side-bar">
      <app-show-sidebar
        (click)="showSidebarService.toggleSidebar()"
        [ngClass]="{ 'invisible ': !showSidebarService.isSidebarShown }"
      />
    </div>

    <div class="columns flex gap-7 mr-5 mt-32 ml-10">
      @for(column of columns; track column; let index = $index){
      <app-column
        [columnName]="column.name"
        [tasks]="column.tasks"
        [columnNumber]="index"
        [columnTotal]="column.tasks.length"
      />
      } @if(columns.length < 6){
      <app-new-column />
      }
    </div>
  </div>
</main>
