<main class="">
  @if(modalToggleService.isAddTaskModalShown){
  <app-add-task />
  } @if(modalToggleService.isAddColumnModalShown){
  <app-add-column [formTitle]="modalToggleService.formTitle" />
  } @if(modalToggleService.isAddBoardShown){
  <app-add-board />
  } @if(dropdowntoggleservice.isEditBoardDropdownShown){
  <app-edit-board-dropdown />
  }

  <app-dashboard-frame />

  <div class="main overflow-x-auto w-[140vw] flex lg:gap-80">
    <div class="side-bar">
      <app-sidebar
        [ngClass]="{ invisible: showSidebarService.isSidebarShown }"
      />

      <app-show-sidebar
        (click)="showSidebarService.toggleSidebar()"
        [ngClass]="{ 'invisible ': !showSidebarService.isSidebarShown }"
      />
    </div>

    <div class="columns z-20 mt-32 ml-6">
      <app-new-column />
    </div>
  </div>
</main>
