<main
(click)="modalToggleService.modalToggle('add-column', 'Add Column')"
  class="h-[80vh] mt-[37px] group mb-12 cursor-pointer flex items-center gap-1 justify-center rounded-lg w-72 bg-gradient-to-b"
  [ngClass]="{
    ' from-[#2b2c37] via-[#2b2c37] to-dark-background': themeToggleService.darkTheme,
    ' from-[#828fa330] via-[#828fa320] to-light-background': themeToggleService.lightTheme
  }"
>
  <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg" class="fill-[#828FA3] group-hover:fill-[#635FC7]">
    <path
      d="M7.368 12V7.344H12V4.632H7.368V0H4.656v4.632H0v2.712h4.656V12z"
    />
  </svg>
  <p class="text-slate-400 text-2xl font-bold group-hover:text-[#635FC7]">New Column</p>
</main>
