<div class="col-span-2 mt-4"
[ngClass]="{
  'bg-dark-secondary transition-colors duration-300 text-dark-text':
    themeToggleService.darkTheme,
  'bg-light-primary transition-colors duration-300 border-light-borderline text-light-text':
    themeToggleService.lightTheme
}"
>
  <label
    for="name"
    class="block mb-2 text-sm font-medium"
    >{{ label }}</label
  >
  @if(crudService.selectedStatus === '' && columnName){
<div
    (click)="dropdownToggleService.dropdownToggle('status')"
    class="bg-transparent cursor-pointer border-2 text-sm rounded-lg focus:outline-none focus:ring-0 focus:border-[#635FC7] block w-full p-2.5 px-5"
    [ngClass]="{'border-[#3e3f4e]': themeToggleService.darkTheme}"
    >
    {{columnName}}
  </div>
  }
  @else if(crudService.selectedStatus) {
    <div
    (click)="dropdownToggleService.dropdownToggle('status')"
    class="bg-transparent cursor-pointer border-2 text-sm rounded-lg focus:outline-none focus:ring-0 focus:border-[#635FC7] block w-full p-2.5 px-5"
    [ngClass]="{'border-[#3e3f4e]': themeToggleService.darkTheme}"
    >
    {{crudService.selectedStatus || columnName}}
  </div>
  }
  

  @if(dropdownToggleService.isStatusDropdownShown){
  <div class="w-full">
    <ul class="w-full p-4 rounded-md  shadow-lg"
    [ngClass]="{'bg-dark-background': themeToggleService.darkTheme}"
    >
    @for(column of columns; track columns){
      <li
      (click)="crudService.getSelectedStatus(column.name)"
        class="text-gray-400 cursor-pointer hover:scale-105 duration-300"
      >
        {{column.name}}
      </li>
    }
      
    </ul>
  </div>
  }
</div>
