<div
(click)="modalToggleService.modalToggle('add-board', '', '')"
  class="overflow-y-auto h-full fixed backdrop-blur-sm bg-black bg-opacity-20 top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 scroll-bar-hide"
>
  <div
  (click)="$event.stopPropagation()"
  class="relative p-4 w-full ml-auto mr-auto mt-14 max-w-md max-h-full">
    <!-- Modal content -->
    <div class="relative bg-dark-secondary rounded-lg shadow dark:bg-gray-700"
    [ngClass]="{
      'bg-dark-secondary': themeToggleService.darkTheme,
      'bg-light-primary transition-colors duration-300 border-light-borderline text-light-text':
        themeToggleService.lightTheme
    }"
    >
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 rounded-t"
      >
        <h3 class="text-lg font-semibold  dark:">
          Add New Board
        </h3>
       
      </div>
      <!-- Modal body -->
      <form class="p-4 md:p-5" [formGroup]="addBoardForm">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2">
            <label
              for="name"
              class="block mb-2 text-sm font-medium"
              >Name</label
            >
            <input
              type="text"
              name="name"
              id="name"
              formControlName="name"
              class="bg-transparent  border-2 border-[#3e3f4e] text-sm rounded-lg focus:outline-none focus:ring-0 focus:border-[#635FC7] block w-full p-2.5 px-5"
              [ngClass]="{
                'border-[#3e3f4e] text-white': themeToggleService.darkTheme,
                'border-light-borderline text-black': themeToggleService.lightTheme
              }"
              required=""
            />
          </div>

          <div class="col-span-2">
            <app-multi-input-box
              [label]="'Columns'"
              [buttonName]="'Add Column'"
              [isDeleteSvgShown]="false"
            />
          </div>
        </div>

        <button
          type="submit"
          class="text-white bg-[#635FC7] hover:bg-indigo-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full w-full text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Create New Board
        </button>
      </form>
    </div>
  </div>
</div>
