<div
(click)="modalToggleService.modalToggle('task-details', '', taskName)"
  class="overflow-y-auto h-full fixed backdrop-blur-sm bg-black bg-opacity-20 top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 scroll-bar-hide"
>
  <div
    (click)="$event.stopPropagation()"
    class="relative p-4 w-full ml-auto mr-auto mt-44 max-w-md max-h-full"
  >
    <div
      class="relative pb-6 rounded-lg shadow dark:bg-gray-700"
      [ngClass]="{
        'bg-dark-secondary transition-colors duration-300 text-dark-text':
          themeToggleService.darkTheme,
        'bg-light-primary transition-colors duration-300 text-light-text':
          themeToggleService.lightTheme
      }"
    >
      <div
        class="flex items-center justify-between p-4 md:p-5 rounded-t dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold">{{taskName}}</h3>

        <button
          class="add-btn flex items-center border-transparent hover:bg-[#20212c] p-1 lg:rounded-full rounded-xl px-2 hover:opacity-60"
        >
          <img
            src="../../../../assets/icon-vertical-ellipsis.svg"
            alt=""
            class="h-4 lg:h-5 cursor-pointer"
          />
        </button>
      </div>

      <p class="text-gray-400 text-[0.8rem] px-5">Description here</p>

      <div class="m px-5 mt-6">
        <p>Subtasks</p>

        <div
          class="mt-4 p-2 rounded-lg shadow"
          [ngClass]="{
            'bg-dark-background transition-colors duration-300 text-dark-text':
              themeToggleService.darkTheme,
            'bg-light-background transition-colors duration-300 text-light-text':
              themeToggleService.lightTheme
          }"
        >
          <div class="checkbox-wrapper-13 flex gap-2">
            <input type="checkbox" id="c1-13" class="peer" />
            <label
              for="checkbox"
              class="peer-checked:line-through transition-colors duration-300 peer-checked:text-gray-400"
            >
              Define search filters
            </label>
          </div>
        </div>

        <app-task-dropdown [label]="'Current Status'" />
      </div>
    </div>
  </div>
</div>
