<div
  (click)="modalToggleService.modalToggle('task-details', '', taskName)"
  class="overflow-y-auto h-full fixed backdrop-blur-sm bg-black bg-opacity-20 top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 scroll-bar-hide"
>
  <div
    (click)="$event.stopPropagation()"
    class="relative p-4 w-full ml-auto mr-auto mt-44 max-w-lg max-h-full"
  >
    <div
      class="relative pb-6 rounded-lg shadow"
      [ngClass]="{
        'bg-dark-secondary transition-colors duration-300 text-dark-text':
          themeToggleService.darkTheme,
        'bg-light-primary transition-colors duration-300 text-light-text':
          themeToggleService.lightTheme
      }"
    >
      <div class="flex items-center justify-between p-4 md:p-5 rounded-t">
        <h3 class="text-lg font-semibold">{{ taskName }}</h3>

        <button
          (click)="editDropdownToggle()"
          class="add-btn flex items-center border-transparent hover:bg-[#20212c] p-1 lg:rounded-full rounded-xl px-2 hover:opacity-60"
        >
          <img
            src="../../../../assets/icon-vertical-ellipsis.svg"
            alt=""
            class="h-4 lg:h-5 cursor-pointer"
          />
        </button>

        @if(isEditDropdownShown){
        <div
          (click)="$event.stopPropagation()"
          class="absolute right-8 z-40 mt-[110px]"
        >
          <ul
            class="w-48 p-4 rounded-md shadow-lg"
            [ngClass]="{
              'bg-dark-background': themeToggleService.darkTheme,
              'bg-white': themeToggleService.lightTheme
            }"
          >
            <li
              (click)="crudService.deleteTask(taskColumn)"
              class="text-red-500 cursor-pointer hover:opacity-55"
            >
              Delete Task
            </li>
          </ul>
        </div>
        }
      </div>

      @if(taskDesc){
      <p class="text-gray-400 text-[0.8rem] px-5">{{ taskDesc }}</p>
      } @else {
      <p class="text-gray-400 text-[0.8rem] px-5">No description provided</p>
      }

      <div class="m text-sm px-5 mt-6">
        <p>Subtasks ({{ getSubTasksDone() || 0 }} of {{getSubTasksTotal()}})</p>
        @for(item of subTasks; track item){
        <div
          class="mt-4 p-2 rounded-lg shadow"
          [ngClass]="{
            'bg-dark-background transition-colors duration-300 text-dark-text':
              themeToggleService.darkTheme,
            'bg-light-background transition-colors duration-300 text-light-text':
              themeToggleService.lightTheme
          }"
        >
          <div class="checkbox-wrapper-13 flex gap-2">
            @if(item?.isCompleted === true) {
            <input (click)="dataService.markSubtaskDone(item)" type="checkbox"  class="peer" checked />
            <label
              
              class="peer-checked:line-through transition-colors duration-300 peer-checked:text-gray-400"
            >
              {{ item.title }}
            </label>

            } @else {
            <input (click)="dataService.markSubtaskDone(item)" type="checkbox" class="peer" />
            <label
              
              class="peer-checked:line-through transition-colors w-[80%] duration-300 peer-checked:text-gray-400"
            >
              {{ item.title }}
            </label>
            }
          </div>
        </div>

        } @empty {
        <p class="text-gray-400 text-[0.8rem] mt-2">No subtasks</p>
        }

        <app-task-dropdown
          [label]="'Current Status'"
          [columnName]="taskColumn"
        />
      </div>
    </div>
  </div>
</div>
