<div
  (click)="modalToggleService.modalToggle('add-column', 'Add Column', '')"
  class="overflow-y-auto h-full fixed backdrop-blur-sm bg-black bg-opacity-20 top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 scroll-bar-hide"
>
  <div
    (click)="$event.stopPropagation()"
    class="relative p-4 w-full ml-auto mr-auto mt-14 max-w-md max-h-full"
  >
    <!-- Modal content -->
    <div
      class="relative rounded-lg shadow"
      [ngClass]="{
        'bg-dark-secondary  ': themeToggleService.darkTheme,
        'bg-light-primary transition-colors duration-300 border-light-borderline text-light-text':
          themeToggleService.lightTheme
      }"
    >
      <!-- Modal header -->
      <div
        class="flex items-center justify-between p-4 md:p-5 rounded-t dark:border-gray-600"
      >
        <h3 class="text-lg font-semibold">
          {{ formTitle }}
        </h3>
      </div>
      <!-- Modal body -->
      <form class="p-4 md:p-5" [formGroup]="addColumnForm" (ngSubmit)="addColumn()">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2">
            <label for="name" class="block mb-2 text-sm font-medium dark:"
              >Name</label
            >
            <input
              type="text"
              name="name"
              id="name"
              [value]="crudService.getBoardName() || crudService.initialBoardName"
              class="bg-transparent text-gray-500 border-2 border-[#3e3f4e] text-sm rounded-lg focus:outline-none focus:ring-0 focus:border-[#635FC7] block w-full p-2.5 px-5"
              [ngClass]="{
                'border-[#3e3f4e]': themeToggleService.darkTheme,
                'border-light-borderline': themeToggleService.lightTheme
              }"
            />
          </div>

          <label for="name" class="block text-sm font-medium dark:"
            >Columns</label
          >

          @for(column of crudService.columns; track column){
          <div class="col-span-2 flex gap-4">
            <div class="w-96">
              <input
                type="text"
                name="name"
                id="name"
                value="{{ column.name }}"
                class="bg-transparent border-2 border-[#3e3f4e] text-sm rounded-lg focus:outline-none focus:ring-0 focus:border-[#635FC7] block w-full p-2.5 px-5"
                [ngClass]="{
                  'border-[#3e3f4e]': themeToggleService.darkTheme,
                  'border-light-borderline': themeToggleService.lightTheme
                }"
                required=""
                formControlName="title"
              />
            </div>

            <svg
              class="w-8 h-8 mt-2 text-gray-400 dark:"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.9"
                d="M6 18 18 6m0 12L6 6"
              />
            </svg>
          </div>
          }

         
            <div class="col-span-2">
              <div class="w-96">
                <input
                  type="text"
                  name="newColumnName"
                  id="newColumnName"
                  class="bg-transparent border-2 border-[#3e3f4e] text-sm rounded-lg focus:outline-none focus:ring-0 focus:border-[#635FC7] block w-full p-2.5 px-5"
                  [ngClass]="{
                    'border-[#3e3f4e]': themeToggleService.darkTheme,
                    'border-light-borderline': themeToggleService.lightTheme
                  }"
                  placeholder="Enter new column name"
                  formControlName="columnName"
                  required
                />
              </div>
            </div>

          <div class="col-span-2">
            <button
              class="text-[#635FC7] bg-white hover:bg-opacity-90 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full w-full text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              [ngClass]="{
                'bg-white transition-colors duration-300':
                  themeToggleService.darkTheme,
                'bg-purple-100 transition-colors duration-300 border-light-borderline':
                  themeToggleService.lightTheme
              }"
            >
              Add New Column
            </button>
          </div>
        </div>

        <button
          type="submit"
          class="bg-[#635FC7] text-white hover:bg-indigo-400 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full w-full text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Save Changes
        </button>
      </form>
    </div>
  </div>
</div>
