/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3em;
  height: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: #635fc7;
  border-radius: 50px;
  overflow: hidden;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  right: 0.3em;
  bottom: 0.3em;
  background-color: #ffff;
  transform: translateX(150%);
  border-radius: inherit;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.slider:after {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.3em;
  bottom: 0.3em;
  background-color: #ffff;
  border-radius: inherit;
  transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #59d102;
}

.switch input:checked + .slider:before {
  transform: translateY(0);
}

.switch input:checked + .slider::after {
  transform: translateX(-150%);
}
